body {
	background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#pkrfact {
  color: whitesmoke;
  font-size: 35px;
  padding: 15PX;
  background: linear-gradient(90deg,rgba(38, 38, 38, 1) 0%, rgba(122, 122, 122, 1) 50%, rgba(199, 199, 199, 1) 100%);
  cursor: pointer;
  display: flex;
  padding-top: 0px;
}

p {
	color: white;
	font-size: 40px;
	font-weight: bold;
}